@import 'AboutWellness';
@import 'About';
@import 'InputSection';
@import 'InputCategoryButton';
@import 'Display';
@import 'GoalList';
@import 'ProgressBar';

html {
  background: #FFF;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #000;
}
