@import 'About';
@import 'Form';
@import 'FormButton';
@import 'GoalList';
@import 'Goal';
@import 'ProgressBar';
@import 'reset';



html {
  background: #CFCFCF;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #000;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin: 20px;
}
