@import 'About';
@import 'Form';
@import 'FormButton';
@import 'GoalList';
@import 'Goal';
@import 'ProgressBar';

html {
  background: #FFF;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #000;
}
