.input-feild {
  height: 30px;
  display: block;
  font-size: 14px;
  margin: 10px auto;
  width: 300px;
}

.categorybutton-container {
  display: block;
}

.physical-btn, .emotional-btn, .mental-btn, .spiritual-btn {
  margin: 10px;
  border: none;
  background-color: lightblue;
    &:hover {
      background-color: gray;
    }
}
