.physical, .emotional, .mental, .spiritual {
  font-size: 20px;
  border-bottom: 1px solid lightblue;
  display: block;
}

.physical {
  color: blue;
}

.emotional {
  color: green;
}

.mental {
  color: orange;
}

.spiritual {
  color: pink;
}

.indv-goal {
  display: inline-block;
  // float: left;
}

.check-box {
  background-color: none;
  width: 50px;
  // float: left;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/::before
